# Project-specific folders
assets/
.vscode/

# ML artifacts (large files)
models/
dataset/
runs/
*.pt

# Testing files
attempt-2/*

# Python-specific
__pycache__

# Platform-specific files (Mac)
.DS_Store