# Project-specific folders
assets/
.vscode/
scripts/roi_cache.json

# ML-specific folders
attempt-2/*
dataset/*
models/*
runs/*
*.pt

# Python-specific
__pycache__

# Platform-specific files (Mac)
.DS_Store